<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/search.js" defer></script>
    <title>바로등급 기업조회</title>
</head>
<body>
    <div class="page-title">
        <div class="container">
            <h3>바로등급 기업조회</h3>
        </div>
    </div>

    <div id="board-search">
        <div class="container">
            <div class="search-window">
                <select name="search_type" id="search_type">
                    <option value="corp_name">업체명</option>
                    <option value="jurir_no">법인번호</option>
                    <option value="corp_code">회사코드</option>
                </select>
                <div class="search-wrap">
                    <input type="search" id="search_value" placeholder="검색어 입력" oninput="showSuggestions()" />
                    <button onclick="searchCorp()" class="btn btn-dark">조회</button>
                </div>
                <div id="suggestions" class="suggestions"></div>
                <div id="result"></div>
            </div>
        </div>
    </div>
</body>
</html>